#attendance-type-tabs li button{padding: 5px 10px; font-size: 14px; border: 1px solid #0d6efd; margin-left: 3px;}

#attendanceGrid{height: calc(100vh - 264px) !important;}
#attendanceDetailGrid{height: calc(100vh - 230px) !important;}
@media (max-width: 992px) {
	#attendanceGrid{height: calc(100vh - 333px) !important;}
	#attendanceDetailGrid{height: calc(100vh - 170px) !important;}
}
