


/*기본*/
html, body{font-family: 'Pretendard'; font-size: 16px;}
a{text-decoration: none; color: #0b0b0b}
ul, dl{}

/*bootstrarp 커스터마이징*/
.btn{padding: 5px 10px 4px}
.btn-primary{background: #0d9af0;border: 1px solid #0d9af0;}
.btn-danger{background: #cb3128}
.btn-success{}
.btn-warning{background: #e09529; color:#fff}
.form-switch{display: flex; align-items: center}
.form-switch label{margin-left: 5px}
.offcanvas.offcanvas-end{width: 700px}


.text-bg-primary{background: #0d9af0;}
.offcanvas{border-left:1px solid #0d9af0!important;}
.offcanvas-header{flex-direction: column!important; background: #f9f9f9}
.offcanvas-header .btn-close{position: absolute; right: 20px; top: 20px}
.width-100{width:100%}
.btn-xs{font-size: 13px}
.popover{font-family: 'Pretendard'; font-size: 16px;}
.popover .popover-header{font-size: 16px;}
.popover .popover-body{font-size: 16px;}


/*마손리*/
.grid-sizer,.grid-item {width: 16.66%; padding: 3px;}
.grid-item .member-card{border: 1px solid #999; padding: 25px 12px 6px 12px; font-size: 18px; height: 58px; display: flex; align-items: center; border-radius: 3px; box-shadow: 0 0 3px 0 #ddd; cursor:pointer; background: #fff}
.grid-item .member-card.leader{height: 122px;    flex-direction: column;     justify-content: space-between;}
.grid-item .member-card.leader .photo{display: inline-block; height: 64px; width: 64px; background: #efefef; border-radius: 32px;    background-position: center center;background-size: cover;}
.grid-item .member-card .badge {font-size: 20px;padding: 3px 4px;position: absolute; left: 10px; bottom: 8px;}
.grid-item .member-card.leader .badge i{color:#0d9af0;}
.grid-item .member-card.new .badge i{color: #ff8000;}
.grid-item .member-card.now{border: 2px solid #cb3128;}
.grid-item .member-card .birth i{color: #CB3227}
.grid-item .member-card .bedge-leader{}
.grid-item .member-card .area{position: absolute; left: 16px; top: 13px; font-size: 12px; color:#999;}
.grid-item .member-card .member-wrap{width: 100%;}
.grid-item .member-card .member-wrap .member-name{line-height: 20px; position: absolute;bottom: 12px;left: 14px;}
.grid-item .member-card .member-wrap .att-stamp-warp{display: flex; position: absolute;right: 10px;bottom: 12px; }
.grid-item .member-card .member-wrap .att-stamp-warp.hidden{display: none}
.grid-item .member-card .member-wrap .att-stamp-warp .att-stamp{background: #CB3227; height: 25px; width: 25px; border-radius: 3px; justify-content: center; align-items: center; display: flex; font-size: 14px; color:#fff; margin-left: 2px}
.grid-item .member-card.leader .member-wrap .member-name{padding-left: 20px;}
.grid-item .member-card.new .member-wrap .member-name{padding-left: 20px}

.grid-item .member-card.off{opacity: 0.5; box-shadow: none;}
.grid-item .member-card.on{opacity: 1; box-shadow: 0 0 3px 0 #ddd!important;}
.grid-item .member-card.birth{background:url('/assets/images/bg_birth7.png?5') center top/100%;}


.grid-item .member-card .member-wrap .memo-stamp-warp{display: flex; position: absolute;right: 20px;bottom: 17px;}
.grid-item .member-card .member-wrap .memo-stamp-warp.hidden{display: none}
.grid-item .member-card .member-wrap .memo-stamp-warp .memo-stamp{position: relative}
.grid-item .member-card .member-wrap .memo-stamp-warp .memo-stamp i{font-size: 30px; color: #999}
.grid-item .member-card .member-wrap .memo-stamp-warp .memo-stamp .memo-count{background: #CB3227; height: 18px; width: 18px; border-radius: 50%; font-size: 12px; color:#fff; display: flex; justify-content: center;align-items: center; position: absolute; right: -7px;bottom: -7px}


.grid-item--width2 { width: 40%; }
.grid-item--width100{width: 100% !important; height: 0; padding: 0}
.no-member{width: 100%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px 0; text-align: center}

.toast-header i{color:#CB3227; margin-right: 5px}
.toast-header{font-size: 20px}
.toast-body{font-size: 20px}

@media screen and (max-width: 1400px){
    .grid-sizer,.grid-item{width: 16.66%}
}
@media screen and (max-width: 1200px){
    .grid-sizer,.grid-item{width: 20%}
}
@media screen and (max-width: 992px){
    .grid-sizer,.grid-item{width: 25%}
}
@media screen and (max-width: 768px){
    .grid-sizer,.grid-item{width: 33.33%}
}
@media screen and (max-width: 576px){
    .grid-sizer,.grid-item{width: 50%}
}

/*버튼커스터마이징
.btn{white-space: pre}*/

/*레이아웃 기본*/

.offcanvas-header{align-items: flex-start;}
.offcanvas-header .offcanvas-title{letter-spacing: -1px;font-weight: 600;}
.offcanvas-body label{margin-bottom: 0}
.offcanvas-footer button{border-radius: 0; padding: 10px 0}
.member-photo {width: 150px;height: 150px;border-radius: 50%; background: #ccc; display: inline-block; background-position: center center; background-size: cover}
.modal-title{font-weight: 600; letter-spacing: -1px}

#attendanceModal .modal-footer{padding: 10px 0}
.prev-week{}
.current-week{display: flex; justify-content: center;}
.current-week{width: calc(100% - 94px)}
.next-week{}

.hide5weekAgo-warp label{font-size: 14px}


.master-hidden{display: none}

/*헤더*/
header{height: 60px; display: flex}
header .header-start{}
header .header-end{}
header .profile-name {line-height: 18px;}
header .profile-name .profile-mail{font-size: 12px; color:#999}
header .logo img{width: 80px}
header h2{font-weight: 700; font-size: 40px; letter-spacing: -1px; display: flex; align-items: center; justify-content: center;}
header h2 b{position: relative;font-size: 38px;}
header h2 b img{position: absolute;left: -50px;top: -13px; width: 40px}


.att-dropdown-wrap{position: absolute; right: 80px; z-index: 1; top: 3px;}
.att-dropdown-wrap button{border: 0;background: none; font-size: 16px}

/*일반*/
main{background: #fafafa; padding: 30px 0 200px;}

.mypage-org-list table th{background: none}
.mypage-org-list table td .btn-user-setting{width: 100%}

.btn-profile{position: absolute; right: 10px;}
.btn-home{font-size: 50px;border: 0;background: 0;padding: 0;margin: 0;height: initial; line-height: initial; position: absolute; left: 10px; top: 0;}

.org-list-wrap{display: inline-block;width: 100%;text-align: right;position: absolute;bottom: 0;padding: 15px;border-top: 1px solid #ccc;background: #efefef;}
.org-list-wrap .org-list{}
.org-list-wrap .org-list ul li{cursor: pointer; display: flex;justify-content: flex-start; align-items: center; position: relative}
.org-list-wrap .org-list ul li .btn-org-select{position: absolute; right: 0}
.org-list-wrap .org-list ul li.active{color:#0000FF}
.org-list-wrap .org-list ul li.active::before{content: '선택그룹'; display: inline-block; background: #0000FF; color: #fff; font-size: 12px;padding: 1px 3px;border-radius: 3px;}

.total-list-wrap{display: flex; justify-content: space-between; }
.total-list {display: flex; justify-content: center; align-items: center;}
.total-list dt, .total-list dd{display: inline-block; margin: 0}
.total-list dt{padding:2px 5px 1px; font-size: 12px; background: #666; color:#fff; margin: 0 5px 0 10px; border-radius: 3px; font-weight: 500}

.total-att-list {display: flex; justify-content: center; align-items: center;}
.total-att-list dt, .total-att-list dd{display: inline-block; margin: 0}
.total-att-list dt{padding:2px 5px 1px; font-size: 12px; background: #666; color:#fff; margin: 0 5px 0 10px; border-radius: 3px; font-weight: 500; white-space: nowrap;}



.total-memo-list{display: flex; justify-content: center; align-items: center;}
.total-memo-list dt{display: inline-block; margin: 0;padding:2px 5px 1px; font-size: 12px; background: #666; color:#fff; margin: 0 5px 0 10px; border-radius: 3px; font-weight: 500; background: #CB3227}
.total-memo-list dd{display: inline-block; margin: 0}

.mode-list label{border: 0; border-radius: 0; background: #fff!important; color:#999; padding: 10px}
.mode-list .btn-check:checked+.btn{border-bottom: 2px solid #0d9af0; color:#0d9af0!important;}

@media screen and (max-width: 1200px){
    .mode-list .btn-org{width: 100%}
    .mode-list label i{display: block; width: 100%; font-size: 30px;}
    .total-list-wrap{flex-direction: column; overflow: scroll;}
    .total-list{display: block; white-space: nowrap;}
    .total-att-list{display: block; white-space: nowrap;}

}


#attendanceOffcanvas .offcanvas-body{padding: 0}
#attendanceOffcanvas table{min-width: 650px}
#attendanceOffcanvas table thead{vertical-align: middle; position: sticky; top: 0; z-index: 10;}
#attendanceOffcanvas table tr th:first-child, #attendanceOffcanvas table tr td:first-child { position: sticky; left: 0; }
#attendanceOffcanvas table tr td select{font-size: 16px}

/*푸터*/
footer{position:relative;}
footer .btn-new{position: fixed;bottom: 30px;right: 30px;display: inline-block;width: 80px;height: 80px;border-radius: 40px;border: 0;color: #fff;background: #0d9af0;box-shadow: 0 0 5px 0 #aaa;}
footer .btn-new i{font-size:30px}
footer .btn-area{position: fixed;bottom: 120px;right: 30px;display: inline-block;width: 80px;height: 80px;border-radius: 40px;border: 0;color: #fff;background: #0077ff;box-shadow: 0 0 5px 0 #aaa;}
footer .btn-area i{font-size:30px}

/*모달(출석체크)*/
.att-btn-list{display: flex; flex-direction: column; margin-bottom:20px}
.att-btn-list .btn-org{}
.att-btn-list .btn-org .btn{line-height: 20px;min-height: 60px;display: flex;align-items: center;font-size: 18px;justify-content: center; border: 1px solid #0d9af0; color:#0d9af0}
.att-btn-list .btn-check:checked+.btn{background: #0d9af0; border: 1px solid #0d9af0; color:#fff;}



/*관리*/
#memberOffcanvas{}
#memberOffcanvas label{font-size: 14px; color:#999; }
#addMemoOffcanvas label{font-size: 14px; color:#999}


/*메모*/
.memo-wrap{height: 260px;}
.memo-list{height: calc(100% - 260px); overflow-y: auto;}
.memo-list ul{padding: 0; list-style: none}
.memo-list ul li{position: relative}
.memo-list ul li .btn-memo-del{position: absolute; right: 10px; top: 47px; cursor: pointer}
.memo-list ul li span{display: inline-block}
.memo-list ul li .memo-date{width: 50%; font-size: 14px; color:#999}
.memo-list ul li .memo-id{width: 50%;font-size: 14px; color:#999;  text-align: right;}
.memo-list ul li .memo-content{width: 100%; margin: 5px 0 20px; background: #efefef; padding: 10px 20px 10px 10px}


.area-list{height: 300px;overflow-y: scroll; padding: 10px; background: #efefef;}
.area-list .btn-delete-area{display: flex;align-items: center;justify-content: center;}


/*마이페이지*/
table tr th, table tr td{text-align: center; font-weight: 500}
#attendanceTypeModal .add-category-wrap.off{display: none}
#attendanceTypeModal table tr td{padding: 0 3px; height: 50px;}
#attendanceTypeModal table tr td input{width: 100%;}
#attendanceTypeModal table tr td .btn-color{border: 0;width: 25px;height: 25px;}


.open-org-main{display: flex; width: 100%;align-items: center;justify-content: space-between;}

footer .btn-add-org {position: fixed;bottom: 30px;right: 30px;display: inline-block;width: 80px;height: 80px;border-radius: 40px;border: 0;color: #fff;background: #0d9af0;box-shadow: 0 0 5px 0 #aaa;}
footer .btn-add-org i{font-size:30px}

.bi-info-circle-fill{color:#ff8000}


/*통계*/
.table-summery-member table tr td, .table-summery-member table tr th{vertical-align: middle; width: 70px;     white-space: nowrap;}
.table-summery-member table tr td:nth-child(1){width: 80px}
.table-summery-member table tr td:nth-child(2){width: 120px}
.table-summery-member table thead{vertical-align: middle; position: sticky; top: 0; z-index: 10;}


.table-summery-week table tr td, .table-summery-week table tr th{vertical-align: middle; width: 100px; white-space: nowrap;}
.table-summery-week table tr td:nth-child(1){width: 200px}
.table-summery-week table thead{vertical-align: middle; position: sticky; top: 0; z-index: 10;}



/*메뉴*/
.gnb-menu{}
.gnb-menu .sidebar{position: fixed; height: 100%; border-top:0!important; border-bottom:0!important;}
.gnb-menu .sidebar h6.sidebar-heading{font-size: 12px; color:#999!important;}
.gnb-menu .sidebar ul.nav li a{color:#000; padding-top: 5px; padding-bottom: 5px}

.breadcrumb .breadcrumb-item{font-size: 12px!important; padding-left: 5px}
.breadcrumb .breadcrumb-item:first-child::before{display: none!important;}
.breadcrumb .breadcrumb-item::before{content: '\F285'; font-family:'bootstrap-icons'; font-size: 12px; padding-right: 5px;}

.profile-area{}
.profile-area .profile-img{}
.profile-area .profile-name{}

@media screen and (max-width: 768px){
	.gnb-menu .sidebar{position: initial}
}


.btn-group .dropdown-toggle-split{flex: 0 0 auto;}
