.send-popup .card-body .col-form-label{font-size: 0.9rem;font-weight: 600;color: #6c757d;padding:0; margin-bottom: 0.5rem;}
.send-popup .card-body .send-table{height: 200px; overflow-y: scroll}
.send-popup .card-body .send-table tr td{vertical-align: middle;}

