.send-popup{}
.send-popup .card-body{height: calc(100vh - 155px);}
.send-popup .card-body .col-form-label{font-size: 0.9rem;font-weight: 600;color: #6c757d;padding:0; margin-bottom: 0.5rem;}
.send-popup .card-body .send-table{height: 150px; overflow-y: scroll}
.send-popup .card-body .send-table tr td{vertical-align: middle;}

#sendTabContent .figure-template{width: 100%;cursor: pointer; }
#sendTabContent .figure-template small{ height: 150px; display: inline-block;overflow-y: auto;white-space: pre-line; word-break: break-word;}

#messageContent::placeholder{color:#999}

#senderTableBody .badge{font-size: 12px;padding: 1px 5px;border-radius: 3px; line-height: 19px}
.remove-receiver{cursor: pointer}

/* pqGrid 행 높이 및 정렬 */
