# Default ignored files
/.idea/
.gitignore
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/modules.xml
/php.xml
/phpunit.xml
/simple-check.iml
/vcs.xml
/deployment.xml
/webServers.xml
